@using WebTaskMaster.Models.User;
@model UserRegistrationModel;
@{
	ViewData["Title"] = "Registration";
}
<div>


    <h1>Register for your company</h1>

    <p>Complete the form below!</p>


    <div class="input-group has-validation">
        <form asp-controller="Registration" asp-action="Index">
            <div class="text-danger col-12" asp-validation-summary="ModelOnly"></div>
            
            <label class="form-label col-12" asp-for="UserName"></label>   
            <input class="form-control col-12" asp-for="UserName" />
            <span class="text-danger col-12" asp-validation-for="UserName"></span>

            <label class="form-label col-12" asp-for="LastName"></label>
            <input class="form-control col-12" asp-for="LastName" />
            <span class="text-danger col-12" asp-validation-for="LastName"></span>

            <label class="form-label col-12" asp-for="Email"></label>
            <input class="form-control col-12" asp-for="Email" />
            <span class="text-danger col-12" asp-validation-for="Email"></span>

            <label class="form-label col-12" asp-for="Password"></label>
            <input class="form-control col-12" asp-for="Password" />
            <span class="text-danger col-12" asp-validation-for="Password"></span>

            <label class="form-label col-12" asp-for="Country"></label>
            <input class="form-control col-12" asp-for="Country" />
            <span class="text-danger col-12" asp-validation-for="Country"></span>

            <label class="form-label col-12" asp-for="PhoneNumber"></label>
            <input class="form-control col-12" asp-for="PhoneNumber" />
            <span class="text-danger col-12" asp-validation-for="PhoneNumber"></span>

            <label class="form-label col-12" asp-for="CompanyName"></label>
            <input class="form-control col-12" asp-for="CompanyName" />
            <span class="text-danger col-12" asp-validation-for="CompanyName"></span>



            <button class="btn btn-primary mt-2 col-12" type="submit">Create account</button>
        </form>
    </div>

</div>