@using WebTaskMaster.Models.User;
@model UserRegistrationModel;
@{
	ViewData["Title"] = "Registration";
}
<div>


	<h1>Registration</h1>

	<p>Let's go!</p>


    <div class="input-group has-validation">
        <form asp-controller="Registration" asp-action="Index">
            <div class="text-danger col-12" asp-validation-summary="ModelOnly"></div>
            
            <label class="form-label col-12" asp-for="FirstName"></label>
            <input  class="form-control col-12" asp-for="FirstName" />
            <span class="text-danger col-12" asp-validation-for="FirstName"></span>

            <label class="form-label col-12" asp-for="Email"></label>
            <input class="form-control col-12" asp-for="Email" />
            <span class="text-danger col-12" asp-validation-for="Email"></span>

            <label class="form-label col-12" asp-for="Password"></label>
            <input class="form-control col-12" asp-for="Password" />
            <span class="text-danger col-12" asp-validation-for="Password"></span>


            <button class="btn btn-primary mt-2 col-12" type="submit">Login</button>
        </form>
    </div>

</div>