@using Manage_tasks_Biznes_Logic.Model;
@model WebTaskMaster.Models.Project.ProjectModel


<div id="createProjectModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content text-dark  ">
            <div class="modal-header  ">
                <h1 class="modal-title fs-5">Add project</h1>
                <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body  ">
                <form asp-action="Create">
                    <div class="text-danger col-12" asp-validation-summary="ModelOnly"></div>

                    <label class="form-label col-12" asp-for="Name"></label>
                    <input class="form-control col-12" asp-for="Name" />
                    <span class="text-danger col-12" asp-validation-for="Name"></span>

                    <label class="form-label col-12" asp-for="Description"></label>
                    <input class="form-control col-12" asp-for="Description" />
                    <span class="text-danger col-12" asp-validation-for="Description"></span>

                 @*    <label class="form-label col-12" asp-for="ProjectTeam"></label>
                    <input class="form-control col-12" asp-for="ProjectTeam" />
                    <span class="text-danger col-12" asp-validation-for="ProjectTeam"></span>
                    
@*                     @Html.DropDownList("ProjectTeam", new SelectList(Model.teams.Select(x => new SelectListItem { Text = $"{x.Name}"})), htmlAttributes: new { @class = "form-control" })
                     
                    <label class="form-label col-12" asp-for="Tasks"></label>
                    <input class="form-control col-12" asp-for="Tasks" />
                    <span class="text-danger col-12" asp-validation-for="Tasks"></span> *@

                    <button class="btn btn-primary mt-2 col-12" type="submit">Add</button>
                </form>
            </div>
            <div class="modal-footer ">
                <button class="btn btn-secondary " type="button" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
