@model WebTaskMaster.Models.Project.ProjectModel

<div id="editProjectModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Edit project</h1>
                <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit" asp-route-teamId="@ViewData["projectId"]">
                    <div class="text-danger col-12" asp-validation-summary="ModelOnly"></div>

                    <label class="form-label col-12" asp-for="Name"></label>
                    <input class="col-12 form-control" asp-for="Name" />
                    <span class="col-12 text-danger" asp-validation-for="Name"></span>

                    <label class="form-label col-12" asp-for="Description"></label>
                    <textarea class="col-12 form-control" asp-for="Description"></textarea>
                    <span class="col-12 text-danger" asp-validation-for="Description"></span>

                    <button class="btn btn-primary col-12 my-2" type="submit">Save</button>

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
