@model WebTaskMaster.Models.Project.ProjectDetailsModel
<section class="project-details">

	<!--    tabs  info/tasks    -->
	<div class="newWrapper">
		<div class="tabs_wrap">
			<ul>
				<li data-tabs="male" class="active">Project information</li>
				<li data-tabs="female">Tasks</li>
				 
			</ul>
			<ul class="section">
				<li class="item_wrap male online">
					<div class="item">
						<div class="item_left">
							<h1>@Model.Name</h1>
							<!-- Project name and description -->
							<!--  and   -->
							<!-- team and button to add new team-->
							<!-- info about tasks-->
							<div class="block-progress-toDo">KUKU</div>
							<div class="block-progress-inProgress"></div>
							<div class="block-progress-Done"></div>
							<!--  and   -->
						</div>
					</div>
				</li>
				<li class="item_wrap female online">
					<div class="item">
						<div class="item_left">
							 
							<!-- Task  to-do/inprogres/done -->
							<!--  and   -->
							<!-- add new task-->
							<!--  and   -->
							<div class="block-progress-toDo">POKA</div>
							 
							
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!--  and -->

</section>

