@model WebTaskMaster.Models.Task.WebTasksList;
@{
    if (Model.Tasks.Tasks == null)
    {
    }
    else
    {       
        @foreach (var task in Model.Tasks.Tasks)
        {
            <div class="container">
            <div class="row task-grid">
                    <div class="col"><input style="display: none" type="checkbox" class="chckBox chck-@Model.Tasks.Id" value="@task.Id"></div>
                    <div class="col">@await Component.InvokeAsync("SingleTask", new { taskGuid = task.Id, teamGuid = Model.TeamId })</div>
            </div>
            </div>
        }      
    }
    
}


