@model Manage_tasks_Biznes_Logic.Dtos.User.UserDetailsDto

@{
    ViewData["Title"] = "User details";

    if (Model.ChangesSaved)
    {
        TempData["ToastMessage"] = "Changes saved.";
    }
}

<div class="container">

    <form class="row justify-content-start needs-validation" asp-action="Details">
        <input hidden="true" asp-for="UserId" />

        <div class="text-danger col-12" asp-validation-summary="ModelOnly"></div>

        <div class="form-floating my-2">
            <input class="form-control" asp-for="FirstName" />
            <label class="form-label ms-1" asp-for="FirstName"></label>
            <span class="text-danger" asp-validation-for="FirstName"></span>
        </div>

        <div class="form-floating my-2">
            <input class="form-control" asp-for="LastName" />
            <label class="form-label ms-1" asp-for="LastName"></label>
            <span class="text-danger" asp-validation-for="LastName"></span>
        </div>

        <div class="form-floating my-2">
            <input class="form-control" asp-for="Position" />
            <label class="form-label ms-1" asp-for="Position"></label>
            <span class="text-danger" asp-validation-for="Position"></span>
        </div>
        
        <div class="form-floating my-2">
            <input class="form-control" asp-for="DateOfBirth" />
            <label class="form-label ms-1" asp-for="DateOfBirth"></label>
            <span class="text-danger" asp-validation-for="DateOfBirth"></span>
        </div>

        <button class="btn btn-primary col-12 col-md-3 my-2" type="submit">Save changes</button>
    </form>
    
    <div class="row justify-content-start mt-2 pt-2">
        <a class="btn btn-primary col-12 col-md-3" asp-controller="Account" asp-action="EditEmail">Edit email</a>
    </div>
    
    <div class="row justify-content-start mt-2 pt-2">
        <a class="btn btn-primary col-12 col-md-3" asp-controller="Account" asp-action="EditPassword">Edit password</a>
    </div>

    <div class="row justify-content-end">
        <a type="button" class="btn btn-danger col-12 col-sm-2" asp-controller="Account" asp-action="DeleteAccount">Delete account</a>
    </div>
</div>

<partial name="_ToastPartial" />

@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @* show toast for user edit response *@
    @if (TempData["ToastMessage"] is not null)
    {
        <script type="text/javascript">
            bootstrap.Toast.getOrCreateInstance(document.getElementById('toast')).show();
        </script>
    }
}