#viewTitle {
    border-bottom-color: rgb(80, 113, 199) !important;
}

#teamName {
    color: rgb(255, 255, 255);
}

#detailsHead {
    /*background-color: rgba(255, 255, 255, 0.06);*/
    background-color: rgb(76, 112, 166);
    color: rgba(255, 255, 255, 0.95);
}

#detailsBody {
    /*background-color: rgb(76, 112, 166);*/
    background-color: rgba(255, 255, 255, 0.06);
    color: rgba(255, 255, 255, 0.95);
}

.accordion {
    background-color: rgba(255, 255, 255, 0) !important;
    color: rgba(255, 255, 255,0) !important;
}

.accordion-item {
    background-color: rgba(255, 255, 255, 0) !important;
    border-color: rgba(255,255,255,0) !important;
}

.accordion-header {
    background-color: rgba(255, 255, 255, 0) !important;
}

.accordion-body {
    background-color: rgb(71, 93, 156) !important;
    color: rgb(138, 171, 255) !important;
}

.accordion-button {
    background-color: rgb(71, 93, 156) !important;
    /*color: rgb(138, 171, 255) !important;*/
    border-color: rgb(75, 109, 190) !important;
}

    .accordion-button:not(.collapsed) {
        box-shadow: rgba(255, 255, 255,0) 0px -1px 0px 0px inset
    }

.memberCol {
    background-color: rgba(44, 65, 118, 0.8) !important;
    color: rgb(255, 255, 255) !important;
}
