.nav-link {
    background-color: rgb(46, 46, 72);
    color: rgb(255, 255, 255);
}

    .nav-link:focus, .nav-link:hover {
        background-color: rgb(80, 113, 199);
        color: rgb(255, 255, 255);
    }

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: rgb(80, 113, 199);
    color: rgb(255, 255, 255);
}
