@model WebTaskMaster.Models.Team.TeamChangeLeaderModel

<div id="changeLeaderModal" class="modal fade text-dark">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Change leader</h1>
                <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body ">
                <form asp-action="ChangeLeader" asp-route-teamId="@ViewData["teamId"]">

                    <label class="form-label col-12" asp-for="AvailableLeaders"></label>
                    <select class="form-select col-12" asp-for="NewLeaderId">
                        @foreach (var member in Model.AvailableLeaders!)
                        {
                            <option value="@member.Id">@member.FirstName @member.LastName</option>
                        }
                    </select>
                    <span class="col-12 text-danger" asp-validation-for="NewLeaderId"></span>

                    <button class="btn btn-primary col-12 my-2" type="submit">Change</button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>