@model WebTaskMaster.Models.Project.ProjectDetailsModel


<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            @await Component.InvokeAsync("TasksRow", new {list = Model.Tasks[0],statusId = 0,teamId = Model.ProjectTeam.Id})

            @await Component.InvokeAsync("NewTask", new {tasksListId = Model.Tasks[0].Id})
        </div>
        <div class="col">
            @await Component.InvokeAsync("TasksRow", new {list = Model.Tasks[0],statusId = 1,teamId = Model.ProjectTeam.Id})
        </div>
        <div class="col">
            @await Component.InvokeAsync("TasksRow", new {list = Model.Tasks[0],statusId = 2,teamId = Model.ProjectTeam.Id})
        </div>
    </div>
</div>
