@model Manage_tasks_Biznes_Logic.Dtos.Account.EditPasswordDto
@{
    ViewData["Title"] = "Edit password";
}

<div class="container">
    <form class="row justify-content-start needs-validation" asp-action="EditPassword">
        <input hidden="true" asp-for="UserId" />

        <div class="text-danger col-12" asp-validation-summary="ModelOnly"></div>

        <div class="form-floating my-2">
            <input class="form-control" asp-for="CurrentPassword" />
            <label class="form-label ms-1" asp-for="CurrentPassword"></label>
            <span class="text-danger" asp-validation-for="CurrentPassword"></span>
        </div>
        
        <div class="form-floating my-2">
            <input class="form-control" asp-for="NewPassword" />
            <label class="form-label ms-1" asp-for="NewPassword"></label>
            <span class="text-danger" asp-validation-for="NewPassword"></span>
        </div>
        
        <div class="form-floating my-2">
            <input class="form-control" asp-for="ConfirmNewPassword" />
            <label class="form-label ms-1" asp-for="ConfirmNewPassword"></label>
            <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
        </div>
        
        @if (Model is not null && Model.EditPasswordFailed)
        {
            if (Model.WrongCurrentPassword)
            {
                <div>
                    <p class="text-danger">Invalid current password.</p>
                </div>
            }

            if (!Model.PasswordsAreEqual)
            {
                <div>
                    <p class="text-danger">New password and repeat new password fields must have the same value.</p>
                </div>
            }

            if (Model.NewPasswordIsOldPassword)
            {
                <div>
                    <p class="text-danger">New password must be different than current password.</p>
                </div>
            }
        }

        <button class="btn btn-primary col-12 col-md-3 col-md-3 my-2" type="submit">Save</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}